/* .background-blue {
    background-color: #066AC9;
  } */

  .bckg-blue-cont{
    background-color: #066AC9;
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    overflow: hidden;
  }
  * {
    font-family: 'Heebo', sans-serif;
  }
  .links{
    color: gray;
    text-decoration: none;
  }
  .cards{
    font-weight: 800 !important;
  }
  .css-19kzrtu{
    padding: 24px  0!important;
  }
.allLevel{
  background-color: rgb(202, 240, 248);
  color: rgb(23, 162, 184);
  padding: 3px 7px ;
  border-radius: 7px;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root{
  font-weight: 700 !important;
}
.css-10hburv-MuiTypography-root{
  font-weight: 700 !important;
  font-size: 22px !important;
}
.bg-blue{
  background-color: #17A2B8;
  margin: 70px 0;
  color: white;
  padding: 50px ;
  border-radius: 10px;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-next , .swiper-button-prev{
background-color: #00000066;  
padding: 25px;
border-radius: 50%;
backdrop-filter:blur(5px);
}

.swiper-button-next:after, .swiper-button-prev:after{
	color: white;
  font-size: larger !important;
  
}
.bg-contaienr{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 133vh;
  margin-top: 15px;
  flex-wrap: wrap;
  background-color: #F5F7F9;
}

.left-w-100{
  width: 50vw;
}
.footerCont{
  background-color: #24292D;
  color: white;
  padding: 35px;
}
.bg-bluer{
  background: url('../../../public/assets/bg.png') no-repeat  #066AC9 ;
  background-size: cover;
}